.jumbotron {
    background-size: cover;      
    margin: 10px auto;
  }

.blue1-text{
    color:rgb(4, 39, 92);
    font-size:25px;
    margin: 100px auto;
    margin-left: 1px auto;
}
.blue-text{
    color:rgb(40, 40, 136);
    font-size:50px;
    text-align:center;
    
}